#detailsPage {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
  margin: 1em 10px;

  #backBtn {
    margin: 30px 40px 60px;

  }
  .product {
    align-self: center;
  }

}
.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  font-size: 3em;
}

.categoryList a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  color: $linkColor;

  &:hover {
    color: $linkHover;
  }
}
